{% extends 'base.html' %}

{% block content %}
    <head>
        <title>وبسایت من</title>
    </head>
    {% include 'inc/jumbotron.html' %}
    <br>
    <a href="" class="btn btn-floating m-4 fixed-top shadow-sm invisible"
       style="background-color: #db6204;
              outline: None; color: white;
              width: 190px; transition: all 0.1s">یادگیری رو شروع کن</a>

    {% include 'inc/course_cards.html' %}
    {% include 'inc/teacher_cards.html' %}
    <script>
        const btnFl = document.querySelector('.btn-floating')
        window.addEventListener('scroll',
        () => {
        if (window.scrollY > 800) {
            btnFl.classList.remove('invisible');
        } else if (window.scrollY <= 800) {
            btnFl.classList.add('invisible');
        }
        });
    </script>
{% endblock %}