{% extends 'base.html' %}

{% block content %}

{% block titel %}
    <title>وبسایت من</title>
{% endblock %}
    {% include 'inc/jumbotron.html' %}

{#    the floating button#}
    <a href="#" class="btn btn-floating m-4 fixed-top opacity-0 disabled"
       style="background-color: #db6204; color: white;
              width: 190px;outline-color: #db6204; transition: opacity 0.25s;
                box-shadow: 0 5px 10px 0 rgba(0,0,0,0.6)">یادگیری رو شروع کن</a>

    <div class="d-flex p-5" style="background-color: #14436b; min-height: 328px">
        <div class="row  justify-content-evenly gap-3">
            {% include 'inc/advantage1.html' %}
            {% include 'inc/advantage2.html' %}
        </div>
    </div>
    {% include 'inc/teacher_cards.html' %}
    {% include 'inc/course_cards.html' %}
    <!-- added java script for btn-floating transition -->
    <script>
        const btnFl = document.querySelector('.btn-floating')
        window.addEventListener('scroll',
        () => {
        if (window.scrollY > 500) {
            btnFl.classList.remove('opacity-0','disabled');
        } else if (window.scrollY <= 500) {
            btnFl.classList.add('opacity-0','disabled');
        }
        });
    </script>
{% endblock %}