{% extends 'base.html' %}


{% block content %}
<div class="d-flex" style="height: 100vh; width: 100%;">
    <div class="d-flex flex-column" style="width: 25%; background-color: white;">
        <h4 class="text-center mt-5">What smells?</h4>
        <p class="text-center" style="color: #F05454;">Text link</p>
        <a class="btn btn-primary m-auto my-2" href="#">Button</a>
        <a class="btn btn-outline-primary m-auto my-2" href="#">Button</a>
        <a class="btn btn-secondary m-auto my-2" href="#">Button</a>
        <a class="btn btn-outline-secondary m-auto my-2" href="#">Button</a>
    </div>
    <div class="d-flex flex-column" style="width: 25%; background-color: #DDDDDD;">
        <h4 class="text-center mt-5">What smells?</h4>
        <p class="text-center" style="color: #F05454;">Text link</p>
        <a class="btn btn-primary m-auto my-2" href="#">Button</a>
        <a class="btn btn-outline-primary m-auto my-2" href="#">Button</a>
        <a class="btn btn-secondary m-auto my-2" href="#">Button</a>
        <a class="btn btn-outline-secondary m-auto my-2" href="#">Button</a>
    </div>
    <div class="d-flex flex-column" style="width: 25%; background-color: #222831;">
        <h4 class="text-center mt-5" style="color: white;">What smells?</h4>
        <p class="text-center" style="color: #F05454;">Text link</p>
        <a class="btn btn-primary m-auto my-2" href="#">Button</a>
        <a class="btn btn-light m-auto my-2" href="#">Button</a>
        <a class="btn btn-outline-light m-auto my-2" href="#">Button</a>
    </div>
    <div class="d-flex flex-column" style="width: 25%; background-color: #30475E;">
        <h4 class="text-center mt-5" style="color: white;">What smells?</h4>
        <p class="text-center" style="color: #F05454;">Text link</p>
        <a class="btn btn-primary m-auto my-2" href="#">Button</a>
        <a class="btn btn-light m-auto my-2" href="#">Button</a>
        <a class="btn btn-outline-light m-auto my-2" href="#">Button</a>
    </div>
</div>
    
{% endblock content %}
    

<style>

</style>