*.log
*.pot
*.pyc
__pycache__/
local_settings.py
settings.py


## how to assume changed and reverse it in git
## git update-index --assume-unchanged example.txt 
## git update-index --no-assume-unchanged example.txt