
@charset "UTF-8";

:root {
    --fs-h1: clamp(2rem, 6vw + 1rem, 3.5rem);
    --fs-h2: clamp(1.5rem, 4vw + 1rem, 2.5rem);
    --fs-h3: clamp(1.25rem, 3vw + 1rem, 2rem);
    --fs-h4: clamp(1rem, 2vw + 1rem, 1.5rem);
    --fs-h5: clamp(0.875rem, 1.5vw + 1rem, 1.25rem);
    --fs-p: clamp(1rem, 2vw + 1rem, 1.25rem);

    --color-brand-3: hsl(254, 74%, 49%);
    --color-brand-4: hsl(254, 86%, 33%);
}
@media (max-width:600px) {
    :root {
        --fs-h1: clamp(1.5rem, 6vw + 1rem, 2.5rem);
        --fs-h2: clamp(1.2rem, 5vw + 0.8rem, 2rem);
        --fs-h3: clamp(1rem, 4vw + 0.6rem, 1.5rem);
        --fs-h4: clamp(0.8rem, 3vw + 0.4rem, 1.2rem);
        --fs-h5: clamp(0.6rem, 2vw + 0.2rem, 1rem);
        --fs-p: clamp(0.8rem, 3vw + 0.4rem, 1.2rem);
    }
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

h5 {
    font-size: var(--fs-h5);
}

p {
    font-size: var(--fs-p);
}

html, body {
    font-family: 'Samim', sans-serif;
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px groove black;
}

.container {
    padding: 4% 8%;
    margin: 0;
    max-width: 100%;
}

.content {
    flex: 1;
}

.background-dark {
    background-color: #333333;
}

.btn-primary {
    border-color: var(--color-brand-3);
    background-color: var(--color-brand-3);
    color: white;
}
.btn-primary:hover {
    background-color: var(--color-brand-4);
}
