/* https://colorhunt.co/palette/dddddd22283130475ef05454 
 link of color palette
 https://colorhunt.co/palette/33333300a5db277e9cb3c51e#justCreated



 new palette

#333333  dark
#FFFFFF

#00A5DB blue
#277E9C     blue classy
#DB6F00 orange
#F57800 2nd orange
#EBFF15
#B3C51E


*/
@charset "UTF-8";
.container {
    padding: 4% 8%;
    margin: 0;
    max-width: 100%;
}

html, body {
    font-family: 'Samim', sans-serif;
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px groove black;
}
.content {
    flex: 1;
}

.background-dark {
    background-color: #333333;
}
.background-classy {
    background-color: #277E9C;
}
.background-light {
    background-color: #FFFFFF;
}

.btn-primary {
    background-color: #00A5DB;
    border-color: #00A5DB;
    color: white;
}
.btn-primary:hover {
    background-color: #00A5DB;
    border-color: #00A5DB;
    color: white;
}

.btn-outline-primary {
    border-color: #00A5DB;
    color: #00A5DB;
}
.btn-outline-primary:hover {
    background-color: #00A5DB;
    border-color: #00A5DB;
    color: white;
}




.btn-secondary {
    background-color: #B3C51E;
    border-color: #B3C51E;
    color: black;
}
.btn-secondary:hover {
    background-color: #B3C51E;
    border-color: #B3C51E;
    color: black;
}

.btn-outline-secondary {
    border-color: #B3C51E;
    color: #B3C51E;
}
.btn-outline-secondary:hover {
    background-color: #B3C51E;
    border-color: #B3C51E;
    color: black;
}
