/* https://colorhunt.co/palette/dddddd22283130475ef05454 
 link of color palette
*/

.container {
    padding: 4% 8%;
    margin: 0;
    max-width: 100%;
}
p,h1,h2,h3,h4,h5,h6,small,em {
    color: #121212;
}

html, body {
    font-family: 'Samim', sans-serif;
    overflow-x: hidden;
}

hr {
    border: 1px groove #30475E;
}

.btn-primary {
    background-color: #F05454;
    border-color: #F05454;
    color: white;
}
.btn-primary:hover {
    background-color: #F05454;
    border-color: #F05454;
    color: white;
}

.btn-outline-primary {
    border-color: #F05454;
    color: #F05454;
}
.btn-outline-primary:hover {
    background-color: #F05454;
    border-color: #F05454;
    color: white;
}

.btn-secondary {
    border-color: #30475E;
    background-color: #30475E;
    color: white;
}
.btn-secondary:hover {
    border-color: #30475E;
    background-color: #30475E;
    color: white;
}

.btn-outline-secondary {
    border-color: #30475E;
    color: #30475E;
}
.btn-outline-secondary:hover {
    border-color: #30475E;
    background-color: #30475E;
    color: white;
}
