
.nav-link-active {
    color: black;
    font-size: larger;

}

.nav-link-active:hover {
    color: black;
    font-size: larger;
    transition: all 0.1s;
}

.nav-link-deactive {
    color: white;
}

.nav-link-deactive:hover {
    color: white;


}