.sidebar-link{
    color:black;
    transition: 0.1ms;
    font-size: large;

}
.sidebar-link:hover{
    color:black;
}
.sidebar-link[aria-current="page"]{
    text-decoration: underline black 0.15rem;
    text-underline-offset: 0.5rem;
}