{% extends 'accounts/profile_base.html' %}

{% block profile_content %}
    <head>
        <title>ویرایش طلاعات کاربری</title>
    </head>
    <br>
    <form method="post" class="m-auto text-center"> {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center">ویرایش اطلاعات کاربری</h1>
        <label for="phone_number" class="form-label">شماره تلفن همراه</label>
        <div class="form-floating">
            <input type="tel" name="phone_number" class="form-control" id="phone_number" value="{{ user.phone_number }}">
        </div>
        <label for="username" class="form-label">نام کاربری</label>
        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="username" value="{{ user.username }}">
        </div>
        <label for="phone_number" class="form-label">آدرس ایمیل</label>
        <div class="form-floating">
            <input type="email" name="email" class="form-control" id="phone_number" value="{{ user.email }}">
        </div>

{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
            {% for field in form %}
                  {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                  {% endfor %}
              {% endfor %}

              {% if form.non_field_errors %}
                  <div>
                      <p style="color: red"> {{ form.non_field_errors }}</p>
                  </div>
              {% endif %}
        <br>
        <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
    </form>


{% endblock %}