{% extends 'base.html' %}

{% block content %}
    <head>
        <title>Profile</title>
    </head>
    <div class="contailer-fluid">
        <div class="row">
            {% include 'inc/account_details_sidebar.html' %}
            <div class="col border border-primary">
                <h3>پنل کاربری</h3>
                <hr>
                <p> نام کاربری : {{ user.username }}</p>
                <p>شماره تلفن همراه : {{ user.phone_number }}</p>
                <p>ایمیل : {{ user.email }}</p>
            </div>

        </div>
    </div>


{% endblock %}