{% extends 'accounts/profile_base.html' %}

{% block profile_content %}
    <div class="container">
        <div class="d-flex flex-column">
            <h5 class="text-center">پنل کاربری</h5>
            <p> نام کاربری : {{ user.username }}</p>
            <p>شماره تلفن همراه : {{ user.phone_number }}</p>
            <p>ایمیل : {{ user.email }}</p>
        </div>
    </div>
    <hr>
    <div class="container-fluid p-0 m-0">
        <div class="d-flex flex-column">
            {% if user.is_teacher %}
                <h5>جلسات شما به عنوان استاد</h5>
                <div class="row gap-2 justify-content-start position-relative mt-3 me-3 p-sm-4">
                    {% if teacher_times_as_teacher %}
                        {% for t in teacher_times_as_teacher %}
                            {% if t.is_reserved %}
                                <div class="card col-lg-5" style="border-radius: 0; background-color: steelblue">
                                    <div class="card-body">
                                        <p class="text-light">{{ t.date }} - {{ t.week_day }} - {{ t.end|date:"H:i" }} - {{ t.start|date:"H:i" }}</p>
                                        <a class="btn btn-outline-light mx-2" href="{% url 'teacher_time_report' t.id %}">گزارش</a>
                                        <a class="btn btn-outline-light mx-2" target=”_blank” href="{{ t.google_meet_link }}">شرکت در جلسه</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="text-center">هنوز جلسه رزرو شده ای موجود نیست</p>
                    {% endif %}
                </div>
            {% endif %}
            <hr>
            {% if user.is_teacher %}
            <h5 class="">جلسات شما به عنوان شاگرد</h5>
            {% else %}
                <h5 class="">جلسات شما</h5>
            {% endif %}
            <div class="row gap-2 justify-content-start position-relative mt-3 me-3 p-sm-4">
                {% if teacher_times_as_student %}
                    {% for t in teacher_times_as_student %}
                        {% if t.is_reserved %}
                            <div class="card col-lg-5" style="border-radius: 0; background-color: slategray; min-height: 50px">
                                <div class="card-body">
                                    <p class="text-light">{{ t.date }} - {{ t.week_day }} - {{ t.end|date:"H:i" }} - {{ t.start|date:"H:i" }}
                                        <a class="btn btn-outline-light mx-2" target=”_blank” href="{{ t.google_meet_link }}">شرکت در جلسه</a></p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="text-center">هنوز جلسه رزرو شده ای موجود نیست</p>
                {% endif %}
            </div>
        </div>
        {% if user.is_teacher %}
        <div class="container">
            <hr>
            <h5>برنامه هفتگی</h5>
            <br>
            {% if plan_times %}
                <table class="table table-bordered my-4 table-striped-columns">
                    <tbody>
                        {% for w_day in week_days %}
                            <tr>
                                <th scope="row" style="width: 100px">{{ w_day }}</th>
                                {% for p_time in plan_times %}
                                    {% if p_time.week_day == w_day %}
                                        <td class="text-center table-primary">{{ p_time.start|date:"H:i" }} - {{ p_time.end|date:"H:i" }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <p class="text-center m-2">هنوز برنامه ای اعلام نشده است.</p>
        {% endif %}
        </div>
        {% endif %}
    </div>

{% endblock %}