{% extends 'accounts/profile_base.html' %}

{% block profile_content %}
    <h3>پنل کاربری</h3>
    <hr>
    <p> نام کاربری : {{ user.username }}</p>
    <p>شماره تلفن همراه : {{ user.phone_number }}</p>
    <p>ایمیل : {{ user.email }}</p>
    <hr>
    <div class="container-fluid p-0 m-0">
        {% if user.is_teacher %}
        <h3>تایم های رزرو شده</h3>
        {% for t in teacher_time %}
            {% if t.is_reserved %}
                <div class="card m-1">
                    <div class="card-body">
                        {{ t.date }} - از ساعت {{ t.start }} تا ساعت {{ t.end }} - لینک گوگل میت {{ t.google_meet_link }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
            <hr>
            <h3>برنامه هفتگی</h3>
            <br>
            {% if plan_times %}
                <div class="row">
                {% for w_day in week_days %}
                    <div class="card col-3 m-2 p-2 text-center">
                    <div class="card-header">
                    <h5>{{ w_day }}</h5>
                    </div>
                    {% for p_time in plan_times %}
                        {% if p_time.week_day == w_day %}
                            <p>{{ p_time.start.isoformat }} - {{ p_time.end.isoformat }}</p>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
                {% else %}
                <p>هنوز برنامه ای اعلام نشده است.</p>
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}