{% extends 'accounts/profile_base.html' %}

{% block profile_content %}
    <h3>پنل کاربری</h3>
    <hr>
    <p> نام کاربری : {{ user.username }}</p>
    <p>شماره تلفن همراه : {{ user.phone_number }}</p>
    <p>ایمیل : {{ user.email }}</p>
    <hr>
    <div class="container-fluid p-0 m-0">
        {% if user.is_teacher %}
        <h3>تایم های رزرو شده</h3>
        {% for t in teacher_time %}
            {% if t.is_reserved %}
                <div class="card m-1">
                    <div class="card-body">
                        {{ t.date }} - from {{ t.start }} to {{ t.end }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% endblock %}