{% extends 'base.html' %}

{% block content %}
    {% block titel %}
        <title>ورود به حساب کاربری</title>
    {% endblock %}
    <div class="d-flex flex-column justify-content-center align-items-center p-0 background-dark"
         style="width: 100vw; object-fit: cover; min-height: 600px;">
        <main class="form-signin w-100 m-auto text-center background-light">
          <form clss="dflex flex-column" method="post"> {% csrf_token %}
            <h5 class="mb-3 fw-normal text-center">ورود به حساب کاربری</h5>
            <div class="mb-3">
              <input type="email" name="email" class="form-control" id="floatingInput" placeholder="آدرس ایمیل">
            </div>
            <div class="mb-3">
              <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="رمز عبور">
            </div>
              {% if form.non_field_errors %}
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li style="color: red">{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
            <button class="w-100 btn btn-primary" type="submit">ورود</button>
            <a href="{% url 'accounts:user_registration' %}" class="btn btn-outline-secondary w-100 mt-2">ثبت نام</a>
            <hr>
            <a href="{% url 'accounts:password_reset' %}" style="text-decoration: none; color: cornflowerblue;">رمز عبورم را فراموش کردم</a>
          </form>
        </main>
    </div>

    <style>
        .form-signin {
          max-width: 330px;
          padding: 1.5rem;
          border-radius: 2%;
        }
        .form-signin:focus-within {
          z-index: 2;
        }

    </style>
{% endblock %}