{% extends 'base.html' %}

{% block content %}

    <head>
    <title>ایمیل ارسال شد</title>
    </head>
<div class="container" style="margin-top: 100px">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
              ما دستور العمل لازم برای ریست کردن رمز عبور را برای شما ایمیل کردیم. اگر با ایمیلی که وارد کردید حساب کاربری موجود باشد، به زودی ایمیل را دریافت خواهید کرد.
		  </p>
		  <p class="m-auto p-2">
              اگر ایمیلی دریافت نکردید، لطفا از صحیح بودن آدرس ایمیل خود اطمینان حاصل و پوشه spam خود را چک کنید.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home:home' %}">بازگشت به صفحه اصلی</a></p>
	</div>
</div>

{% endblock %}
