{% extends 'base.html' %}

{% block content %}
    <head>
        <title>Profile</title>
    </head>

    <div class="d-flex flex-column" style="height: 100vh; margin-top: 56px">
        <div class="row border border-primary" style="height: 100vh">
            {% include 'inc/profile_base_sidebar.html' %}
            <div class="col border border-dark">
                <div class="d-flex flex-column justify-content-center align-items-center p-0">
                    {% block profile_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}