{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>پنل کاربری</title>
        <link rel="stylesheet" href="{% static 'css/profile_base_sidebar.css' %}">
    </head>

    <div class="d-flex flex-column" style="height: 100vh">
        <div class="row" style="height: 100vh">
            {% include 'inc/profile_base_sidebar.html' %}
            <div class="col mt-3">
                    {% block profile_content %}
                    {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/profile_base_sidebar.js' %}"></script>
{% endblock %}