{% extends 'accounts/profile_base.html' %}
{% load static %}

{% block profile_content %}
    <div class="container-fluid p-2">
        <div class="d-flex flex-column me-5">
            <h5>آموزش ساختن لینک Google Meet</h5>
            <p class="my-2">وارد آدرس meet.google.com شوید و در سمت چپ صفحه گزینه New meeting را انتخاب کنید.</p>
            <img class="col-11 my-2 border border-dark" src="{% static 'img/gm_link_tutorial_1.jpg' %}" alt="" style="aspect-ratio: auto; object-fit: scale-down">
            <p class="my-2">از گزینه ها Create a meeting for later را انتخاب کنید.</p>
            <img class="col-11 my-2 border border-dark" src="{% static 'img/gm_link_tutorial_2.jpg' %}" alt="" style="aspect-ratio: auto; object-fit: scale-down">
            <p class="my-2">در آخر لینک را کپی کنید</p>
            <img class="col-11 my-2 border border-dark" src="{% static 'img/gm_link_tutorial_3.jpg' %}" alt="" style="aspect-ratio: auto; object-fit: scale-down">
        </div>
    </div>
{% endblock %}