{% extends 'base.html' %}

{% block content %}
    <head>
        <title>جزعیات</title>
    </head>
<div class="container-fluid mt-3">
{#    teacher information#}
    <div class="d-flex flex-column">
        <div class="row">
            <div class="col-2">
                <div class="card" style="height: 200px; width: 200px">

                </div>
            </div>
            <div class="col m-auto">
                <h3>{{ teacher.first_name }} {{ teacher.last_name }}</h3>
                <small>{{ teacher.skill }}</small>
                <p>{{ teacher.description }}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
    <h4 class="text-center" style="margin-bottom: 20px">تایم های قابل رزرو</h4>
        <div class="col justify-content-center" style="overflow-y:scroll; max-height: 800px; width: 100vw">
            {% for t in teacher_time %}
                <div class="card my-2" style="border-radius: 0.3em;width: 500px; box-shadow: 0 4px 5px 0px rgba(0,0,0,0.1), 0 1px 0px 0px rgba(0,0,0,0.2)">
                    <div class="card-body m-auto text-center">
                        <p class="">{{ t.date }} - {{ t.week_day }} - از ساعت {{ t.start.isoformat }} تا ساعت {{ t.end.isoformat }}</p>
                        <hr>
                        <p>هزینه کلاس : {{ t.price }} ریال</p><button data-teacherTime="{{ t.id }}" data-action="add" class="btn btn-reserve update-cart">رزرو</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    <style>
        .btn-reserve {
            background-color: forestgreen;
            color: white;
            border-radius: 10%;
        }
        .btn-reserve:hover {
            background-color: limegreen;
        }

    </style>
{% endblock %}