{% extends 'base.html' %}

{% block content %}
    <head>
        <title>جزعیات</title>
    </head>
<div class="container-fluid mt-3 p-0">
{#    teacher information#}
    <div class="d-flex flex-column">
        <div class="row">
            <div class="col-2">
                <div class="card" style="height: 200px; width: 200px">

                </div>
            </div>
            <div class="col m-auto">
                <h3>{{ teacher.first_name }} {{ teacher.last_name }}</h3>
                <small>{{ teacher.skill }}</small>
                <p>{{ teacher.description }}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-column">
        <h4 class="text-center m-2">تایم های قابل رزرو</h4>
        <form action="" method="post">
            {% csrf_token %}
            {% if plan_times %}
                <div class="row justify-content-center">
                    {% for w_day in week_days %}
                    <div class="card col-lg-2 col-md-3 m-2 m-sm-2 p-2 text-center" style="border-radius: 0">
                        <div class="card-header" style="background-color: white">
                        <h5>{{ w_day }}</h5>
                        </div>
                        <div class="card-body">
                            {% for p_time in plan_times %}
                                {% if p_time.week_day == w_day %}
                                    <div class="form-check justify-content-center" style="direction: ltr">
                                        <input class="form-check-input border border-dark" type="checkbox" value="check-{{ p_time.id }}" id="{{ p_time.id }}" name="p_time_id">
                                        <label class="form-check-label" for="check-{{ p_time.id }}">{{ p_time.start|date:"H:i" }} - {{ p_time.end|date:"H:i" }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    <div class="d-flex justify-content-center">
                        <input class="form-control m-3" name="session_number" type="number" placeholder="تعداد جلسات" style="width: 300px">
                        <button class="btn btn-primary m-3" type="submit" style=" width: 200px; height: 50px">افزودن به سبد رزرو</button>
                    </div>

                    {% else %}
                    <p class="text-center m-2">هنوز برنامه ای اعلام نشده است.</p>

                {% endif %}
        </form>
    </div>
</div>
    <style>
        .btn-reserve {
            background-color: forestgreen;
            color: white;
            border-radius: 10%;
        }
        .btn-reserve:hover {
            background-color: limegreen;
        }

    </style>
{% endblock %}