{% extends 'accounts/profile_base.html' %}

{% block profile_content %}
    {% block titel %}
        <title>گزارش جلسه</title>
    {% endblock %}
    <div class="container-fluid">
        <input class="btn btn-outline-dark mx-2 mt-2" type=button value="&#8594; بازگشت" onClick="javascript:history.go(-1);">
        <div class="d-flex flex-column" style="margin-top: 50px">
            <form action="" method="post" class="text-center">
                {% csrf_token %}
                <textarea type="text" name="report" rows="8" cols="80" placeholder="گزارش جلسه" style="resize: none"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">ارسال گزارش</button>
            </form>
        </div>
        <p class="m-4">لطفا در گزارش جلسه مواردی مانند مباحث تدریس شده و حضور و غیاب دانش آموز قید شود.</p>
    </div>
{% endblock %}