{% extends 'base.html' %}

{% block content %}
    {% block titel %}
        <title>جزعیات</title>
    {% endblock %}
<div class="d-flex flex-column container">
    {#    teacher information#}
    <div class="d-flex flex-row">
        <div class="d-flex flex-column col-lg-2 col-md-3 col-sm-4 p-2">
            <div class="card" style="min-height: 100%;">
                <p>picture</p>
            </div>
        </div>
        <hr class="p-0 m-0">
        <div class="d-flex flex-column col-lg-10 col-md-9 col-sm-8 p-4">
            <h5>{{ teacher.first_name }} {{ teacher.last_name }}</h5>
            <small>{{ teacher.skill }}</small>
            <p>{{ teacher.description }}</p>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        {% if plan_times %}
            <form id="sectionForm"action="" method="post">
                {% csrf_token %}
                <h5 class="text-center m-2">زمان های قابل رزرو</h5>
                <table class="table table-bordered table-striped-columns my-4">
                    <tbody>
                        {% for w_day in week_days %}
                            <tr>
                                <th scope="row" style="width: 100px">{{ w_day }}</th>
                                {% for p_time in plan_times %}
                                    {% if p_time.week_day == w_day %}
                                        <td class="text-center table-primary"><input class="form-check-input border border-dark mx-2" type="checkbox" value="{{ p_time.id }}" id="{{ p_time.id }}" name="p_time_id">{{ p_time.start|date:"H:i" }}-{{ p_time.end|date:"H:i" }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <lable class="col-lg-3 text-center" for="start_date">تاریخ شروع جلسات</lable>
                        <input class="col-lg-2 form-control" id="start_date" name="start_date" type="date" placeholder="تاریخ شروع جلسات" style="width: 300px">
                    </div>
                    
                    <input class="form-control m-2" name="session_number" type="number" placeholder="تعداد جلسات" style="width: 200px; height: 46px" required="True">
                    <p class="text-center">اگر تاریخ شروع جلسات را خالی بگذارید، جلسات شما از زودترین تاریخ ممکن آغاز خواهند شد.</p>
                    <p class="text-center">هزینه هر جلسه: {{teacher.plan.all.first.price|floatformat:"-3g"}} ریال</p>
                    <button class="btn btn-primary my-3" type="submit" style=" width: 200px; height: 50px">افزودن به سبد رزرو</button>
                </div>
            </form>
        {% else %}
            <p class="text-center m-2">هنوز برنامه ای اعلام نشده است.</p>
        {% endif %}
    </div>
</div>
<script>
    (function() {
        const form = document.querySelector('#sectionForm');
        const checkboxes = form.querySelectorAll('input[type=checkbox]');
        const checkboxLength = checkboxes.length;
        const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

        function init() {
            if (firstCheckbox) {
                for (let i = 0; i < checkboxLength; i++) {
                    checkboxes[i].addEventListener('change', checkValidity);
                }

                checkValidity();
            }
        }

        function isChecked() {
            for (let i = 0; i < checkboxLength; i++) {
                if (checkboxes[i].checked) return true;
            }

            return false;
        }

        function checkValidity() {
            const errorMessage = !isChecked() ? 'At least one checkbox must be selected.' : '';
            firstCheckbox.setCustomValidity(errorMessage);
        }

        init();
    })();
</script>
{% endblock %}