{% extends 'base.html' %}

<!-- in this table, monday is 0 and sunday is 6. -->

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <h3 class="text-center">Please check the free times.</h3>
    <form action="" method="post"> {% csrf_token %}
        <div class="d-flex flex-column border border-dark-subtle p-4">
            <table class="table table-striped-columns table-bordered">
                <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">09:00-10:30</th>
        <th scope="col" class="text-center">10:30-12:00</th>
        <th scope="col" class="text-center">12:00-13:30</th>
        <th scope="col" class="text-center">13:30-15:00</th>
        <th scope="col" class="text-center">15:00-16:30</th>
        <th scope="col" class="text-center">16:30-18:00</th>
        <th scope="col" class="text-center">18:00-19:30</th>
        <th scope="col" class="text-center">19:30-21:00</th>
    </tr>
  </thead>
                    <tbody>
                        <tr>
                        <th scope="row">Saturday</th>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="5-09:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="5-10:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="5-12:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="5-13:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="5-15:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="5-16:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="5-18:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="5-19:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        </tr>
                        <tr>
                      <th scope="row">Sunday</th>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="6-09:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="6-10:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="6-12:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="6-13:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="6-15:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="6-16:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="6-18:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="6-19:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                    </tr>
                        <tr>
                      <th scope="row">Monday</th>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="0-09:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="0-10:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="0-12:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="0-13:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="0-15:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="0-16:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="0-18:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="0-19:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                    </tr>
                        <tr>
                        <th scope="row">Tuesday</th>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="1-09:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="1-10:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="1-12:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="1-13:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="1-15:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="1-16:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="1-18:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="1-19:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                    </tr>
                        <tr>
                        <th scope="row">Wednesday</th>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="2-09:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="2-10:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="2-12:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="2-13:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="2-15:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="2-16:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="2-18:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="2-19:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                    </tr>
                        <tr>
                        <th scope="row">Thursday</th>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="3-09:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="3-10:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="3-12:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="3-13:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="3-15:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="3-16:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="3-18:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="3-19:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                     </tr>
                        <tr>
                        <th scope="row">Friday</th>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="4-09:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="4-10:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="4-12:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="4-13:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="4-15:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="4-16:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="4-18:00" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                        <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="4-19:30" id="flexCheckDefault" name="times">
                          </div>
                      </td>
                    </tr>
                  </tbody>
            </table>
            <button class="btn btn-outline-primary m-auto" type="submit">Submit</button>
        </div>
    </form>

{% endblock %}
