{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="کلاس ایران">
    <meta property="og:description" content="پلتفرم کارامد یادگیری مهارت">
    <meta property="og:image" content="{% static '/img/icon_image' %}">
    <meta property="og:url" content="https://classiran.org/">

{#    font#}
    <!-- <link href="https://cdn.rawgit.com/rastikerdar/samim-font/v4.0.5/dist/font-face.css" rel="stylesheet" type="text/css"> -->

    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-icons-1.11.2/font/bootstrap-icons.css' %}">
    <script type="text/javascript">
        var user = '{{ request.user }}'
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
    {% block titel %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" sizes="32x32" href="{% static 'img/favicon32.ico' %}">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="{% static 'img/favicon16.ico' %}">

</head>
<body>
    <!-- <div style="background-color: #222831; min-height: 25px;"></div> -->
    {% include 'inc/navbar.html' %}
    {% include 'inc/messages.html' %}
    {% block content %}
    {% endblock %}
    {% include 'inc/footer.html' %}

    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>