{% extends 'base.html' %}

{% block content %}
    {% load humanize %}
    {% load static %}
<head>
<title>
    سبد خرید
</title>
</head>
    <body>
        <div class="dflex flex-column">
            <div class="d-flex justify-content-center">
                <div class="col-1" style="margin-left: auto">
                    <input class="btn btn-outline-dark mx-2 mt-2" type=button value="&#8594; بازگشت" onClick="javascript:history.go(-1);">
                </div>
                <div class="col-2 position-absolute" style="justify-self: center">
                    <h3 class="text-center my-2 m-auto">سبد خرید</h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-5 mx-3" style="overflow-y:scroll; max-height: 690px">
                    {% for item in order_items %}
                        <div class="card my-2" style="border-radius: 0.3em; box-shadow: 0 4px 5px 0px rgba(0,0,0,0.1), 0 1px 0px 0px rgba(0,0,0,0.2)">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-1 m-auto">
                                        <a href="{% url 'remove_item' item.id %}"><img src="{% static 'img/remove_icon.png' %}" alt="" style="aspect-ratio: auto; height:17px"></a>
                                    </div>
                                    <div class="col">
                                        <p class="">{{ item.teacherTime.date }} - {{ item.teacherTime.week_day }} - از ساعت {{ item.teacherTime.start.isoformat }} تا ساعت {{ item.teacherTime.end.isoformat }}</p>
                                        <p>هزینه جلسه : {{ item.teacherTime.price|intcomma }} ریال</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-5 mx-3 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5> هزینه کل: {{ order.total|intcomma }} ریال</h5>
                            <input class="col-3 m-auto my-3" name="discount" placeholder="کد تخفیف">
                            <a href="" class=" btn btn-outline-primary btn-sm"> اعمال تخفیف</a>
                            <hr>
                            <a href="" class="btn btn-primary my-3">پرداخت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}