{% extends 'base.html' %}

{% block content %}
<head>
<title>
    سبد خرید
</title>
</head>
    <body>
        <div class="dflex flex-column">
            <h3 class="text-center my-2">سبد خرید</h3>
            <hr>
            <div class="ro">
                <div class="col-5 mx-3">
                    {% for item in items %}
                        <div class="card my-2" style="border-radius: 0.3em; box-shadow: 0 4px 5px 0px rgba(0,0,0,0.1), 0 1px 0px 0px rgba(0,0,0,0.2)">
                            <div class="card-body m-auto text-center">
                                <p class="">{{ item.teacherTime.date }} - {{ item.teacherTime.week_day }} - از ساعت {{ item.teacherTime.start.isoformat }} تا ساعت {{ item.teacherTime.end.isoformat }}</p>
                                <p>هزینه کلاس : {{ item.teacherTime.price }} ریال</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </body>
{% endblock %}