{% extends 'accounts/profile_base.html' %}

{% block profile_content %}
    
    {% if orders %}
        
        {% for order in orders %}
            <div class="card">
                <div class="card-body">
                    <p>تاریخ سفارش : {{order.date_ordered}}</p>
                    
                    {% if order.complete %}
                        <p>وضعیت سفارش : تکمیل شد</p>
                    {% else %}
                        <p>وضعیت سفارش : ناتمام</p>
                    {% endif %}

                    <p>مبلغ کل : {{order.total}}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <p>سفارشی یافت نشد</p>
    {% endif %}
        
{% endblock %}