{% load static %}

<div class="container col-lg-5 col-md-11 col-sm-10 p-0 text-center m-auto" style="border-radius: 100px; background: white; box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5)">
    <div class="row justify-content-center align-items-center mx-5">
        <h5 class="col text-end">اینجا این امکان رو داری که با کمترین هزینه، به با کیفیت ترین کلاس های آموزشی دسترسی داشته باشی</h5>
        <img class="col-4 img-fluid my-3" alt="Responsive image" src="{% static 'img/advantage2.png' %}" style="object-fit: scale-down; aspect-ratio: auto; height: 150px">
    </div>
</div>