{% load static %}

<div class="container-fluid p-0 text-center" style="background: linear-gradient(90deg, #1c5d94 0%, #14436b 100%);">
    <div class="container">
        <div class="row">
            <div class="col align-items-center"  style="display: flex; justify-content: center; align-content: center; flex-direction: column;">
                <h3 class="text-end text-light">اینجا این امکان رو داری که با کمترین هزینه، به با کیفیت ترین کلاس های آموزشی دسترسی داشته باشی</h3>
            </div>
            <div class="col">
                <img class="img-fluid my-3" alt="Responsive image" src="{% static 'img/advantage2.png' %}" style="object-fit: scale-down; aspect-ratio: auto; height: 300px">
            </div>
        </div>
    </div>
</div>