{% load static %}

<div class="container col-lg-5 col-md-11 col-sm-10 p-0 text-center m-auto" style="border-radius: 100px; background-color: white;box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5)">
    <div class="row justify-content-center align-items-center mx-5">
        <img class="col-4 img-fluid my-3" alt="Responsive image" src="{% static 'img/advantage1.png' %}" style="object-fit: scale-down; aspect-ratio: auto; height: 150px">
        <h5 class="col text-end">پلتفرم ما دسترسی به استاد مهارت دلخواهت رو برات فوق العاده آسون میکنه.</h5>
    </div>
</div>