{% load static %}

<div class="container col-lg-5 col-sm-10 p-0 text-center m-auto mx-3 p-2" style="border-radius: 100px; background-color: white;box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5)">
    <div class="row">
        <div class="col">
            <img class="img-fluid my-3" alt="Responsive image" src="{% static 'img/advantage1.png' %}" style="object-fit: scale-down; aspect-ratio: auto; height: 150px">
        </div>
        <div class="col align-items-center"  style="display: flex; justify-content: center; align-content: center; flex-direction: column;">
            <h5 class="text-end">پلتفرم ما دسترسی به استاد مهارت دلخواهت رو برات فوق العاده آسون میکنه.</h5>
        </div>
    </div>
</div>