<h2 class="text-center">Our available courses</h2>
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            {% for c in courses %}
                <div class="col-lg-3 col-md-4 col-sm-4 m-4">
                    <div class="card text-center" style="box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15)">
                        <div class="card-header">
                            <h3>{{ c.title }}</h3>
                        </div>
                        <div class="card-body" style="height: 100px">
                            <p>{{ c.description}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
