{% load static %}

<section id="features" class="d-flex justify-content-center">
    <div class="container row justify-content-between">
        <div class="feature-box col-lg-3">
            <img class="img-fluid border border-dark" src="" alt="" style="min-height: 80px; min-width: 80px;">
            <h5 class="feature_title">از بین اساتید مهارت دلخواهتان انتخاب کنید</h5>
            <p>در این پلتفرم سعی بر این است که مهارت های متنوع برای یادگیری فراهم شوند</p>
        </div>
        <div class="feature-box col-lg-3">
            <img class="img-fluid border border-dark" src="" alt="" style="min-height: 80px; min-width: 80px;">
            <h5 class="feature_title">با توجه به برنامه استاد روز و ساعت دلخواه و همینطور تعداد جلسات را معین کنید</h5>
            <p>سیستم بر اساس ساعت و روز انتخابی به صورت خودکار جلسات شما را تنظیم خواهد کرد</p>
        </div>
        <div class="feature-box col-lg-3">
            <img class="img-fluid border border-dark" src="" alt="" style="min-height: 80px; min-width: 80px;">
            <h5 class="feature_title"></h5>
        </div>
    </div>
</section>

<style>
    #features .container {
        padding: 6% 8%;
    }
    .feature_title {
    margin-top: 5%;
    }

    .feature-box {
        text-align: center;
        padding: 0;
    }
</style>