{% load static %}

<section id="features" class="d-flex justify-content-center">
    <div class="container row justify-content-between">
        <div class="feature-box col-lg-3">
            <img class="img-fluid border border-dark" src="" alt="" style="min-height: 80px">
            <h5 class="feature_title">مهارت مورد نظرتو انتخاب کن</h5>
        </div>
        <div class="feature-box col-lg-3">
            <img class="img-fluid border border-dark" src="" alt="" style="min-height: 80px">
            <h5 class="feature_title"></h5>
        </div>
        <div class="feature-box col-lg-3">
            <img class="img-fluid border border-dark" src="" alt="" style="min-height: 80px">
            <h5 class="feature_title">volutpat sed cras</h5>
        </div>
    </div>
</section>

<style>
    #features .container {
        padding: 6% 8%;
    }
    .feature_title {
    margin-top: 5%;
    }

    .feature-box {
        text-align: center;
    }
</style>