{% load static %}

<div class="container-fluid p-0" style="height: 100vh;
            overflow-x: hidden;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
            background-color: #14436b;
            ">
    <div class="d-flex flex-column h-100 border border-light">
        <div class="row" style="margin-top: 56px; height: 100%">
            <div class="col-3 border border-secondary">

            </div>
            <div class="col-3 border border-danger h-75 start-50">
                <h5 class="text-light border border-light">هر چی میخوای یاد بگیری، اینجا هست!</h5>
                <br>
                <a class="btn btn-outline-light btn-lg m-auto" href="">همین الان شروع کن</a>
            </div>
            <div class="col border border-danger">

            </div>
        </div>

    </div>
</div>
