{% load static %}

<section class="d-flex jumbotron justify-content-center">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column jumbotron-text-btn col-lg-4 text-center align-items-center justify-content-center">
            <h4 class="text-light text-center mb-3" style="z-index: 1; font-size: 1.5rem">کارامد ترین پلتفرم یادگیری آنلاین ایران</h4>
            <a class="btn btn-outline-light btn-lg" style="z-index: 1" href="">یادگیری رو شروع کن</a>
        </div>
        <div class="col-auto" style="z-index: 2">
            <img class="img-fluid" alt="Responsive image" src="{% static 'img/book2_homepage.png' %}" style="aspect-ratio: auto; height: 300px; object-fit: scale-down">
        </div>
    </div>
</section>

<style>
    .jumbotron {
        overflow-x: hidden;
        overflow-y: hidden;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        background-color: #30475E;
        align-items: center;
    }

    @media (max-width: 991px){
        .jumbotron .d-flex {
            flex-direction: column;
        }
        .jumbotron-text-btn {
            margin-bottom: 20px;
        }
    }
</style>