{#<div class="modal position-absolute" tabindex="-1">#}
{#  <div class="modal-dialog">#}
{#    <div class="modal-content">#}
{#      <div class="modal-body">#}
{#        {% if messages %}#}
{#            {% for msg in messages %}#}
{#                <p class="alert alert-{{ msg.tags }}">{{ msg }}</p>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{% if messages %}
    {% for msg in messages %}
        <p class="alert alert-{{ msg.tags }} m-auto">{{ msg }}</p>
    {% endfor %}
{% endif %}