{% load static %}
<nav class="navbar navbar-expand-lg justify-content-center">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home:home' %}">کلاس ایران</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'courses:courses_home' %}">دوره ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">راهنما</a>
                </li>
            </ul>
        </div>      
        {% if user.is_authenticated %}
            <div class="dropdown-center">
                <button type="button" class="dropdown-toggle-split" style="border: none; background-color: transparent;" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle text-light" style="font-size: 2rem;"></i></button>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li class="dropdown-item">
                        <a class="nav-link dropdown-link" href="{% url 'accounts:account_details' %}"><i class="bi bi-person-lines-fill mx-2"></i>پنل کاربری</a>
                    </li>
                    {% if user.is_teacher %}
                        <li class="dropdown-item">
                            <a class="nav-link dropdown-link" href="{% url 'courses:time_checkbox' %}"><i class="bi bi-calendar-check mx-2"></i> تایم های خالی من</a>
                        </li>
                    {% endif %}
                    <li class="dropdown-item">
                        <a class="nav-link dropdown-link" href="{% url 'shop:user_orders' %}"><i class="bi bi-card-heading mx-2"></i> سفارش های من</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link dropdown-link" href="{% url 'accounts:account_edit' %}"><i class="bi bi-pencil-square mx-2"></i>ویرایش اطلاعات کاربری</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link dropdown-link" href="{% url 'accounts:password_change' %}"><i class="bi bi-key mx-2"></i>تعویض رمز عبور</a>
                    </li>
                    <li><hr class="dropdown-divider-dark" ></li>
                    <li class="dropdown-item">
                        <a class="nav-link dropdown-link" href="{% url 'accounts:user_logout' %}"><i class="bi bi-box-arrow-right mx-2"></i>خروج</a>
                    </li>
                </ul>
            </div>   
        {% else %}
            <li class="nav-item list-unstyled">
                <a class="login-btn btn btn-outline-dark" href="{% url 'accounts:user_registration' %}" style="margin-right: 8px;">ثبت نام | ورود</a>
            </li>
        {% endif %}
    </div>
</nav>

<style>
    .navbar {
        padding: 0;
        position: fixed;
        width: 100vw;
        transition: background-color 0.3s ease-in-out;
        z-index: 1000;
        background-color: transparent;
    }
    .navbar-scrolled {
        background-color: rgba(241, 241, 241, 0.96) !important;
    }
    .navbar .container {
        padding: 1% 8%;
    }
    .navbar .dropdown-menu .bi {
        font-size: 1.3rem;
    }
    .navbar-brand{
        margin: auto 0;
        color: var(--color-brand-3);
        font-weight: 500;
    }
    .navbar-brand:hover{

        color: var(--color-brand-3);
    }

    .nav-link{
        color: black;
    }
    .dropdown-link[aria-current="page"]{
        background-color: #00A5DB;
        color: white;

    }
    .dropdown-item {
        padding-right: 0;
        padding-left: 0;
        justify-content: center;
    }
    .dropdown-link {
        text-align: right;
        padding: 3%;
        align-items: center;
        display: flex;
        flex-direction: row;

    }
    .dropdown-divider-dark {
        padding: 0;
        margin: 0;
    }
    .dropdown-menu {
        box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.4);
        min-width: 210px;
    }
    .bottom-bar-button:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
        transition: background 300ms ease;
    }

    .login-btn{
        background-color: rgba(255, 255, 255, 0.75);
    }

    .navbar-collapse .navbar-nav .nav-item {
        margin: 0 1rem;
    }
    .navbar .container .navbar-collapse .navbar-nav {
        margin-right: auto;
    }
    .navbar-toggler {
        margin-right: auto;
    }

    .bi-person-circle{
        transition: color 0.3s ease-in-out;
    }
    .bi-person-circle-dark {
        color: black;
    }
</style>
 <script>
    //the current page color change for the drop down menu
    document.querySelectorAll('.dropdown-link').forEach(link => {
        if(link.href === window.location.href){
            link.setAttribute('aria-current', 'page')
        }
    })

    //to make user icon white in homepage and black in other pages
    // document.addEventListener('DOMContentLoaded', function() {
    //     // Check if the current page is the homepage
    //     if (window.location.pathname !== '/' || window.location.pathname !== '/base.html') {
    //         // Add the specific class to the icon
    //         document.getElementById('bi-person-circle').classList.add('bi-person-circle-dark');
    //     }
    // });


    // navbar background change with scroll script  
    // Listen for the scroll event
    window.addEventListener("scroll", () => {
        const navbar = document.querySelector(".navbar");
        const login_icon = document.querySelector(".bi-person-circle")

        // Check if the page has scrolled a certain amount of pixels (e.g., 100px)
        if (window.scrollY >= 100) {
            // If scrolled, add the "scrolled" class to the navbar
            navbar.classList.add("navbar-scrolled");
            login_icon.classList.remove("text-light")

        } else {
            // If not scrolled enough, remove the "scrolled" class from the navbar
            navbar.classList.remove("navbar-scrolled");
            login_icon.classList.add("text-light");
        }
    });
 </script>