{% load static %}
<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home:home' %}" style="justify-self: start">وبسایت من</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="border: none">
            <span class="navbar-toggler-icon"></span>
{#            <img src="{% static 'img/navbar-toggler-icon.png' %}" alt="" style="aspect-ratio: auto;  width:20px">#}
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col-md-4 offset-md-4 w-100 justify-content-end active">
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'home:palette' %}" >palette</a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link mx-2 p-0" href="{% url 'shop:cart' %}" ><img src="{% static 'img/cart-icon-dark.jpg' %}" alt="" style="aspect-ratio: auto; height: 40px;"></a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'accounts:account_details' %}">پنل کاربری</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'accounts:user_logout' %}">خروج</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'accounts:user_login' %}" style="margin-right: 8px;">ورود | ثبت نام</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div style="height: 1px; background: linear-gradient(90deg, white 0%, #e4e4e4 50%, white 100%);"></div>

<style>
    .navbar {
        background-color: white;
        padding: 0;
    }
    .navbar .container {
        padding: 1% 8%;
    }
    .navbar-brand{
        margin-right: 0;
    }
    .nav-link{
        color: black;
    }
</style>
