<nav class="hidden d-md-block sidebar collapse"
     style="background: white; box-shadow: -1px 0 5px 0 rgba(0,0,0,0.1); height: 100%;">
      <div class="sidebar-sticky" id="sidebarNav">
        <ul class="nav flex-column" style="padding: 0.8rem;">
          <li class="nav-item" style="margin-left: auto">
            <a class="nav-link sidebar-link text-start" href="{% url 'accounts:account_details' %}" style="font-size: 1rem; padding: 0;">
              پنل کاربری
            </a>
          </li>
          <hr>
          {% if user.is_teacher %}
            <li class="nav-item">
              <a class="nav-link sidebar-link" href="{% url 'courses:time_checkbox' %}" style="font-size: 1rem; padding: 0;">
                تایم های خالی من
              </a>
            </li>
            <hr>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link sidebar-link" href="{% url 'accounts:account_edit' %}" style="font-size: 1rem; padding: 0;">
              ویرایش اطلاعات کاربری
            </a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link sidebar-link" href="{% url 'accounts:password_change' %}" style="font-size: 1rem; padding: 0;">
              تعویض رمز عبور
            </a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link sidebar-link" href="{% url 'shop:user_orders' %}" style="font-size: 1rem; padding: 0;">
              سفارش های من
            </a>
          </li>
        </ul>
      </div>
    </nav>