<nav class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="background: lightslategrey">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" style="margin-left: auto">
            <a class="nav-link sidebar-link" href="{% url 'account_details' %}">
              <span data-feather="home" class="align-text-bottom"></span>
              پنل کاربری
            </a>
          </li>
            {% if user.is_teacher %}
              <li class="nav-item">
                <a class="nav-link sidebar-link" href="{% url 'time_checkbox' %}">
                  <span data-feather="file" class="align-text-bottom"></span>
                  تایم های خالی من
                </a>
              </li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link sidebar-link" href="{% url 'account_edit' %}">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              ویرایش اطلاعات
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link" href="{% url 'password_change' %}">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              تعویض رمز ورود
            </a>
          </li>
        </ul>
      </div>
    </nav>