<div class="container d-flex flex-row justify-content-center" style="background-color: #277E9C;">
    <div class="social-link-container d-flex">
        <a class="social-link" href="https://www.instagram.com/class.iran/" target="_blank"><i class="bi bi-instagram social-icon"></i></a>
    </div>
    <div class="social-link-container d-flex">
        <a class="social-link" href="#" target="_blank"><i class="bi bi-whatsapp social-icon"></i></a>
    </div>
    <div class="social-link-container d-flex">
        <a class="social-link" href="#" target="_blank"><i class="bi bi-telegram social-icon"></i></a>
    </div>
</div>

<style>
    .social-link-container {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 4%;
        overflow: hidden;
        
    }

    .social-link{
        padding: 0;
        margin: 0;
        color: white;
        text-decoration: none;
        position: absolute;
    }
    .social-icon{
        font-size: 3rem;
    }
    .social-icon:hover{
        font-size: 3.5rem;
        transition: 100ms;
    }
    
</style>