<section id="teacher-cards" class="d-flex justify-content-center" style="background-color: #30475E">
    <div class="container text-center">
        <h4 class="text-center text-light">اساتید ما</h4>
            <div class="row">
                {% for t in teachers %}
                    <div class="col-lg-3 p-2">
                        <div class="card" style="min-height:350px">
                            <div class="card-header" style="height: 150px">
                                <img src="" alt="">
                            </div>
                            <div class="card-body text-end">
                                <h5>{{ t.first_name }} {{ t.last_name }}</h5>
                                <small>{{ t.skill }}</small>
                                <p class="card-text" style="overflow: hidden">{{ t.description|truncatewords:15 }}</p>
                                <a href="{{ t.get_absolute_url }}" class="btn btn-teacher-details">جزعیات</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="" class="btn btn-outline-light" style="font-size: larger; margin-top: 20px">لیست کامل اساتید</a>
    </div>
</section>

<style>
    .btn-teacher-details {
        position: absolute;
        bottom:20px;
        left:20px;
        color:#14436b;
        border-color: #14436b
    }
    .btn-teacher-details:hover {
        color:white;
        background-color: #14436b;
    }
    #teacher-cards .card:hover{
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    }
</style>