<div class="container border border-dark-subtle p-0">
    <table class="table table-striped-columns table-bordered">
  <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">09:00-10:30</th>
        <th scope="col" class="text-center">10:30-12:00</th>
        <th scope="col" class="text-center">12:00-13:30</th>
        <th scope="col" class="text-center">13:30-15:00</th>
        <th scope="col" class="text-center">15:00-16:30</th>
        <th scope="col" class="text-center">16:30-18:00</th>
        <th scope="col" class="text-center">18:00-19:30</th>
        <th scope="col" class="text-center">19:30-21:00</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Saturday</th>
        <td>
          <div class="form-check justify-content-center">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Sunday</th>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Monday</th>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
    </tr>
    <tr>
        <th scope="row">Tuesday</th>
         <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
    </tr>
    <tr>
        <th scope="row">Wednesday</th>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
    </tr>
    <tr>
        <th scope="row">Thursday</th>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
     </tr>
    <tr>
        <th scope="row">Friday</th>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
        <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
